body{
    font-family: 'Pacifico', cursive;
    font-family: 'Rajdhani', sans-serif;
}
.spn{
    color: yellow;
}

.head-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.head-part img{
    width: 80%;
    margin-top: 20px;
}